body{
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}

.search-part{
  display: flex;
  justify-content: center;
  padding: 10px;
}

.search-part input{
  width: 250px;
  height: 40px;
  border-radius: 7px;
  border: 1px solid lightgray;
  padding: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px;
  color: rgb(37, 37, 37);
}

::placeholder{
  font-size: 1rem;
}

.movies{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.each-movie{
  border: 1px solid grey;
  margin: 10px 10px 10px 10px;
  width: 207px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px;
  height: 470px;
}

.each-movie img{
  width: 207px;
  height: 310px;
}

.each-movie .info{
  display: flex;
  flex-direction: column;
  position: relative;
  flex-direction: column;
  justify-content: center;   
}
